body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: rgb(120, 133, 247);
    font-family: cursive;
}

.form {
    background-color: rgb(247, 191, 247);
    padding: 20px;
    box-shadow: 0 0 15px rgb(80, 9, 80), 0 0 15px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin: 10px;

}

.input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 70px;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;

    font-size: 20px;
    color: purple;
    font-family: cursive;
    font-weight: bold;
    border: solid 4px rgb(237, 53, 237);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.input::placeholder {
    color: lightgrey;
    font-family: cursive;
}



.btn {
    background-color: rgb(222, 45, 222);
    color: white;
    border: none;
    display: block;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    box-shadow: 0 0 5px rgb(66, 5, 66), 0 0 5px 0 rgb(66, 5, 66);
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}

.score {
    color: purple;
    text-align: right;
    font-size: 20px;
}